.composting {
    width: 100%;
}
.composting > div:first-child {
    text-align: center; 
    margin-top: 1rem;
}

.videoList {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem !important;
}

.videoItem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 8px;
    transition: transform 0.2s;
}

.videoItem:hover {
    transform: scale(1.05);
}

.miniVideo {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.textContent {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.textContent h3 {
    margin: 0;
    font-size: 1rem
}

.textContent p {
    margin-top: 5px;
    font-size: 0.8rem;
}

.btncomp {
    display: flex;
    justify-content: space-between; 
}

.btncomp button {
    font-size: 0.9rem;
    margin-inline:0.2rem;
}

@media (min-width: 768px) {
    .textContent h3 {
        font-size: 1.5rem;;
    }

    .textContent p {
        font-size: 1.2rem;
    }

    .miniVideo {
        width: 60%;
    }

    .btncomp {
        justify-content: space-evenly;   
    }

    .btncomp button {
        font-size: 1rem;
    }
}