.screenLoginRegister {
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    overflow: hidden;
}

h2 {
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

.inputForm {
    position: relative;
    margin: 1rem;
}

input {
    width: 100%;
    padding: 0.6rem 1.5rem;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
}

input:focus {
    border-bottom: 2px solid var(--shadow);
}

input::placeholder {
    color: var(--colorText);
    opacity: 0.7;
}

.icon {
    position: absolute;
    top: 10px;
    left: 0;
    color: var(--colorText);
}
.msg {
    color: var(--colorText);
    opacity: 0.9;
    text-align: right;
    font-size: 0.8rem;
    cursor: pointer;
}

.msg:hover {
    color: var(--text);
}

.paragraph {
    display: flex;
    justify-content: space-between;
}


.link {
    color: var(--text) !important;
    opacity: 0.7 !important;
    cursor: pointer;
    text-decoration: underline;
}

.linkReg:hover {
    color: var(--shadow) !important;
}

.btnAccess {
    margin-top: 3rem;
}


/* Register */

.cad > .title {
    text-align: center;
    margin-bottom: 1rem;
}

.labelInput {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: end;
    width: 100%;

}

.labelInput label, .labelInput input  {
   text-align: left;
}


.labelInput input {
    margin-left: 0;
}

/* Edit*/
.edit {
    margin-top: 1rem ;
}

.edit .inputForm {
    margin-bottom: 0;
}

.edit > .title {
    margin-bottom: 0;
}

.resetContainer {
    position: fixed; /* Faz com que o modal fique sobre a página */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    display: none; /* Por padrão, o modal não aparece */
}

.show {
    display: block;
}

.hide {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    
}
