.container {
    position: relative;
    width: 100%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
    justify-content: center;
    text-align: center;
    padding: 0.625rem;
    margin-inline: auto;
    
}

.bgImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    min-height: inherit;
    max-width: 48rem;
    object-fit: contain;
    opacity: 0.3;
    z-index: -10;
    pointer-events: none;
}

.container h1 {
    font-size: 1.6rem;
    text-align: center;
}

.container h2 {
    font-size: 1.4rem;
    text-align: center;
}

.container h3, p {
    font-size: 1.2rem;
}

p {
    text-align: left;
}


.container a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: var(--colorText);
    font-weight:700;
}

.container a:hover {
    color: var(--shadow);
}

button {
    width: auto;
    padding: 0.5rem;
    margin: 1rem auto;
    background-color: var(--colorText);
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
}

@media (min-width: 430px) {
    .bgImage {
        height: 90%;
    }
}

@media (min-width: 768px) {
   

    .container h1 {
        font-size: 1.8rem;
    }
    
    .container h2 {
        font-size: 1.6rem; 
    }
    
    .container h3, p {
        font-size: 1.5rem;
    }
    
    button {
        margin-block: 2rem;
        font-size: 1.5rem;
        padding: 1rem;
    }

}