.container {
    position: relative;
    width: 100%;
    min-height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-top: 1rem;*/
    gap: 1rem;
    color: var(--Text);
    overflow-x: hidden;
    justify-content: center;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    opacity: 0.3; 
    z-index: -10;
}

.container h1 {
    font-size: 1.8rem;
    text-align: center;
}

.container h2 {
    font-size: 1.4rem;
    color: var(--colorText);
    font-weight: 700;
}

.container a {
    text-decoration: none;
    /*padding: 1rem 0;*/
    transition: all 0.3s ease;
    color: var(--colorText);
    font-weight:700;
}

.container a:hover {
    color: var(--shadow);
}

button {
    width: auto;
    padding: 0.5rem;
    margin: 1.5rem auto;
    background-color: var(--colorText);
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
}
