.home {
    text-align: center;
    padding: 0.625rem;
}

.home button {
    width: 75% !important;
    font-size: 1.4rem;
    border: 0.2rem solid var(--shadow);
    background-color: var(--background);
}

.home button:hover {
    transform: scaleX(1.12);
    transition: transform 0.3s ease;
    color: var(--background);
}