.category h3 {
    margin-bottom: 0.5rem;
}

.category ul {
    list-style: none;
}

.category ul li {
    margin-bottom: 0.35rem;
    text-align: left;
    font-weight: 500;
}
.category a {
    color: var(--text);
}

.viewMore {
    border: 0.1rem solid var(--shadow);
    background-color: var(--background);
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.viewMore:hover {
    transform: scaleX(1.12);
    transition: transform 0.3s ease;
    color: var(--background);
}

@media (min-width: 768px) {
    .viewMore {
        font-size: 1rem;
    }
}