:root {
  --font-pattern: 'Poppins', 'sans-serif';
  --backgroud: rgb(249, 241,228);
  --colorText: rgb(167, 143, 102);
  --shadow: rgb(114, 90, 49);

}
body {
  background-color: var(--backgroud);
  font-family: var(--font-pattern);
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

