@font-face {
  font-family: 'Futura';
  src:url('./assets/fonts/Futura\ Light.ttf');
  font-weight: 300;
  }

@font-face {
  font-family: 'Futura';
  src:url('./assets/fonts/Futura\ Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Futura';
  src:url('./assets/fonts/Futura\ Bold.ttf');
  font-weight: 700;
}


@font-face {
  font-family: 'Futura';
  src:url('./assets/fonts/Futura\ Extra\ Bold.ttf');
  font-weight: 800;
}

:root {
  --font-pattern: 'Futura', sans-serif;
  --backgroud: rgba(249, 241, 228);
  --colorText: rgb(167, 143, 102);
  --shadow: rgb(114, 90, 49);
  --text: rgba(0, 0, 0, 0.822);
  --colorLogo: rgb(21, 141, 68);

}



* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-pattern);
  font-weight: 500;
}

body {
  background-color: var(--backgroud);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

