.header {
    width: 100%;
    height: 5rem;
    color: var(--colortext);
    display: flex;
    margin: 0 1rem;
<<<<<<< HEAD:frontend/src/Components/Header/header.module.css
=======
    position: fixed;
>>>>>>> 01e95db (add registerNewUser):frontend/src/Components/Header/Header.module.css
    align-items: center;
    justify-content: space-between;
    top: 2rem;
    z-index: 10;   
}

.logo {
    width: auto;
    max-width: 12rem;
}

.logoCenter {
    width: auto;
    max-width: 14rem;
    margin-left: 2rem;
}

.menuSandwich {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 4rem;
    background: white;
    width: 12rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9;
}

.menuSandwich.show {
    display: flex;
    
}

.menuSandwich a {
    text-align: none;
    color: var(--colorText);
    padding: 0.8rem 0;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

.menuSandwich a:last-child {
    border-bottom: none;
}

.menuSandwich a:hover {
    color: var(--colorLogo);
}

.menuButton {
    width: 2rem;
    height: 1.8rem;
    position: absolute;
    cursor:pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1REM;
    right: 4rem;
}

.linha {
    width: 2rem;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    transition: 0.3s;
}

.close .linha:nth-child(1) {
    transform: rotate(50deg);
    position: relative;
    top: 8px;
    
}

.close .linha:nth-child(2) {
    opacity: 0;
}

.close .linha:nth-child(3) {
    transform: rotate(-50deg);
    position: relative;
    top: -8px;
}


.header span {
    font-size: 1.5rem;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: var(--colorText);
    padding-right: 1.5rem;
    font-size: 1.125rem;
}

.header a:hover {
    color: var();
}

@media (min-width: 800px) {
    
     .menuSandwich {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        width: auto;
        padding: 0;
    }

    .menuButton {
        display: none;
    }

    .menuSandwich a {
        border: none;
        padding: 0 1rem;
        font-size: 1.125rem;
    }
}


