
.inputForm {
    position: relative;
    margin: 0.5rem;
}

input {
    width: 100%;
    padding: 0.6rem 1.5rem;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent; 
}

input:focus {
    border-bottom: 2px solid var(--shadow);
}

.labelInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.labelInput label, .labelInput input  {
    text-align: left;
 }
  
 .labelInput input {
    margin-left: 0;
    
 }

 /* viewStationData*/

 .labelView {
    display: flex;
    align-items: center;
    height: 100%;
 }

 .displayBox {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: 1px solid var(--shadow);
    font-size: 1rem;
    color: #333;
    margin-top: 0.3rem;
  }

.containerSpan {
    display: flex;
    justify-content: flex-end;
}
.btnsReg {
    margin-top: 2rem;
    display: flex;
}

.btnReg, .btnSpan {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text);
    border: 1px solid var(--shadow);
    border-radius: 0.5rem;
}