.screenReset {
    width: 100%;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
}

h2 {
    text-align: center;
}
.btn {
    font-size: 1.2rem;
}
.cancel {
    background-color: transparent;
    font-size: 1.2rem;
    margin: auto;
}