
.cooking > div:first-child {
    text-align: center;
    margin-top: 0.5rem;
}

.btncook {
    display: flex;
    justify-content: space-between;
    
}

.btncook button {
    font-size: 0.9rem;
    margin-inline:0.2rem;
}

.categoryPage {
    padding: 1.2rem;
    text-align: center;
}

.back {
    text-align: right;
    color: var(--text);
    cursor: pointer;
    font-size: 0.9rem;
}

/* Último artigo */
.mainContent {
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

