.cooking {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cooking h2 {
    font-size: 1.3rem;
}

.cooking > div:first-child {
    text-align: center;
    margin-top: 0.5rem;
}

.btncook {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}

.btncook button {
    font-size: 0.9rem;
    margin-top: 0;
}

.categoryPage {
    padding: 1.2rem;
    text-align: center;
}

.back {
    text-align: right;
    color: var(--text);
    cursor: pointer;
    font-size: 0.9rem;
}

/* Último artigo */
.mainContent {
    padding: 0 1rem;
    border-radius: 8px;
    text-align: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.sidebar a {
    font-weight: 500;
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 0.9rem;
    margin-top: 1.2rem;
}

/*Cadastro de Receitas*/
.inputForm.recipe, .inputForm.art {
    display: flex;
    text-align: left;
}

.recipe .labelInput, .art .labelInput {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
}

.groupInput .labelInput {
    align-items: end;
}

.groupTextarea .labelInput {
    margin-top: 1rem;
}

.labelInput textarea {
    border: 1px solid var(--shadow);
    border-radius: 0.25rem;
    opacity: 0.5;
    resize: vertical;
    min-height: 6rem;
}

.texArt .labelInput {
    min-height: 8rem;
}


@media (min-width: 768px) {
    .cooking {
        display: grid;
        grid-template-columns: 1fr, 2fr;
    }

    .mainContent {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

    .sidebar {
        grid-column: 1 / 2;
        grid-row: 1 / 2 ;
        margin-top: 0.5rem;
        padding: 0.5rem;
        border-radius: 1rem;
        box-shadow: 0 2px 4px var(--shadow);
    }

    .btncook {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .mainContent p {
        font-size: 1.3rem;
    }

    .mainContent a, .sidebar {
        font-size: 1.2rem;
    }

    .sidebar a {
        color: var(--text);
    }

    .btncook {
        justify-content: space-evenly;   
    }

    .btncook button {
        font-size: 1rem;
    }

    .labelInput textarea {
        margin-left: 2.3rem;
    }
}

